a {
    text-decoration-line: none;
  }
  a:link {
    color : black;
  }
  a:visited {
    color : black;
  }
  a:hover {
    color : rgb(215, 154, 255);
  }
  a:active {
    color : rgb(215, 154, 255)
  }

  .no_dot {
    list-style-type: none;
  }
